{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<h1>About Us</h1>
	</div>
	<div class="row col-md-8">
			Since the dawn of facebook, social media marketing has been one of the strongest ways to advertise a product, service, or local business. It allows organizations that just 10 years ago would have struggled to manage relationships with their customers to keep an always open point of contact. Sites like Twitter have allowed the spread of events and promotions with a speed and accurracy of never before. Linkstr's goal is to make this channel of communication as effective as possible, by gathering precise, calculable metrics and displaying them in an actionble format.
			<br /><br />
			Linkstr's main service is providing link shortening and analytics links that you share with your users. This information can be used in what audience that you target when launching marketing campaigns.
	</div>
</div><br />
<div class="container">
	<div class="row">
		<div class="col-md-6">
		<h2>What is Linkstr?</h2>
			<p>Linkstr is a brand new link shortening service aimed at professionals and businesses that want to turn links they use into an additional channel of advertising. Turn clicks on content into views of a specific, targeted advertisement campaign or show 3rd party advertisements in order to directly generate revenue.</p>
		</div>
		<div class="col-md-6">
			<img src="{{ STATIC_PREFIX }}img/marketing_one.png" class="img-responsive" height="360px">
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-6">
			<h2>In Depth Analytics</h2>
			<p>With our web dashboard and upcoming native mobile applications can gather insight into where your users are, what kind of browsers they use, and where they are coming from. Built on state-of-the-art HTML5 technologies, Linkstr's responsive design works on even the smallest of screen sizes.</p>
		</div>
		<div class="col-md-6">
			<img src="{{ STATIC_PREFIX }}img/marketing_two.png" class="img-responsive" height="360px">
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-6">
			<h2>You Own Your Data</h2>
			<p>With Linkstr, you are able to export all data generated through your use of our application to a CSV file, allowing for personal backup and analysis. Your profile is private, and no one but you can see information about the links you have generated. We also have a variety of reports that can be generated based off of the data that you have collected.</p>
		</div>
		<div class="col-md-6">
			<img src="{{ STATIC_PREFIX }}img/marketing_three.png" class="img-responsive" height="360px">
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-6">
			<h2>Now Accepting Beta Signups</h2>
			<p>We plan to go into an open Beta some time around mid January. Sign up now to recieve updates on Linkstr and an open Beta invite.</p>
		</div>
		<div class="col-md-6">
						<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="http://golinkstr.us3.list-manage1.com/subscribe/post?u=897fddd5b6e6821cc55253b43&amp;id=71c52162ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		<div class="mc-field-group">
			<label for="mce-FNAME">First Name </label>
			<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-LNAME">Last Name </label>
			<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;"><input type="text" name="b_897fddd5b6e6821cc55253b43_71c52162ae" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</form>
		</div>

<!--End mc_embed_signup-->
		</div>
	</div>
	</div>
{% endblock %}