{% extends "base.html" %}


{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6"><h1>Admin stats</h1></div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1>Users: {{ num_users }}</h1>
		</div>
		<div class="col-md-6">
			<h1>Pending Registrations: {{ pending_registrations }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1>Links: {{ num_links }}</h1>
		</div>
		<div class="col-md-6">
			<h1>Clicks: {{ num_numclicks }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1>Companies: {{ num_companies }}</h1>
		</div>
		<div class="col-md-6">
			<h1>Paying Companies: {{ num_paying_companies }}</h1>
		</div>
	</div>
</div>
{% endblock %}