{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block body %}
<div class="container">
	<h1>Signup Form</h1>
	{% if company %}
	<h2>{{ company.Name }}</h2>
	<div>You are attempting to signup under a company.</div>
	{% endif %}
	{{ signup_captcha.errors }}
	<div class="row">
		<div class="col-md-8">
			<form role="form" method="POST" action="/Post/Signup/">
                  {% csrf_token %}
				<div class="form-group">
					<label for="Username">Username</label>
					<input type="text" class="form-control" id="Username" name="Username" placeholder="Enter Username" >
				</div>
				{% if not company %}
				<div class="form-group">
					<label for="Company">Company</label>
					<input type="text" class="form-control" id="Company" name="Company" placeholder="Enter Company Name" >
				</div>
				{% endif %}
				<div class="form-group">
					<label for="Email">Email</label>
					<input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email" >
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" id="Password" name="Password" placeholder="Enter Password" >
				</div>
				<div class="form-group">
					<label for="ReEnterPassword">Re-Enter Password</label>
					<input type="password" class="form-control" id="ReEnterPassword" name="ReEnterPassword" placeholder="Re-Type Password" >
				</div>
				{% if redir %}
					<input type="hidden" name="redir" value="{{ redir }}" />
				{% endif %}
				 {% if company %}
				 	<input type="hidden" name="companyid" value="{{ company.id }}" />
				 {% endif %}
				 <br />
  				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
	
</div>

{% endblock %}