{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/index.css">
{% endblock %}

{% block body %}
<br /><br />
<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{{STATIC_URL}}img/logo_large.png" class="img-responsive">
			<br />
			<p>Linkstr is a brand new way to maximize your value for third party content you share and link to. Use Linkstr to shorten links and share them to your social channels. Then, when someone clicks on a link, they are first shown a page of your choosing.</p>
		</div>
		<div class="col-md-6">
			
		</div>
	</div>
</div>
{% endblock %}