{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="row">		
		<h1>Basic</h1>
	</div>
	<div class="row">
		The basic plan offers everything you need to gather metrics on the effectiveness of your social marketing. You get access to one custom domain, a state of the art dashboard containing historical information of up to a year, and the ability to export data for one user.
	</div>
	<div class="row">
		<a href="/Plans/Basic/Purchase/"><button type="button" class="btn btn-primary">Purchase</button></a>
	</div>
</div>

{% endblock %}