{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="row">		
		<h1>Enterprise</h1>
	</div>
	<div class="row">
		The Enterprise plan is the Mac-Daddy of plans at Linkstr. With it, you get up to 50 users, unlimited domains, unlimited history, custom external 404 pages, custom in-between pages, brandable reports, and an awesome dashboard. You are only one click away from having a state of the art, enterprise grade link shortening service at your organizations fingertips.
	</div>
	<div class="row">
		<a href="/Plans/Enterprise/Purchase/"><button type="button" class="btn btn-primary">Purchase</button></a>
	</div>
</div>

{% endblock %}