{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		At this point in time, we are currently accepting applications to our open Beta program in February.
	</div><br />
	<div class="row">
		<form role="form" action="http://golinkstr.us3.list-manage1.com/subscribe/post?u=897fddd5b6e6821cc55253b43&amp;id=71c52162ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="form-group">
					<label for="mce-EMAIL">Email Address (required)</label>
					<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
				</div>
				<div class="form-group">
					<label for="mce-FNAME">First Name </label>
					<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
				</div>
				<div class="form-group">
					<label for="mce-LNAME">Last Name </label>
					<input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
				</div>   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;"><input type="text" name="b_897fddd5b6e6821cc55253b43_71c52162ae" value=""></div>
			<div class="clear">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
			</div>
		</form>

	</div>

	
</div><br /><br /><br /><br /><br /><br /><br /><br /><br />

<!-- Google Code for Beta Signups Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1050432227;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "IcgACJWVlggQ46Xx9AM";
var google_conversion_value = {{ cost }};
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1050432227/?value=1&amp;label=IcgACJWVlggQ46Xx9AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock %}