<div>
	<div class="row">
		<h1>Custom Domain</h1>
	</div>
	<div class="row main_tour_content">
		<p>With Linkstr, you can generate shortened Links for any domain that you own. (Even though we give you one of your own free when you sign up).</p><br />
		<div class="center">
			<h1 class="custom_domain">{{ domains[current_domain] }}</h1>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-lrg btn-primary nav_button" ng-click="previous()">Generate a Link</button>
		<button class="btn btn-lrg btn-primary pull-right nav_button" ng-click="next()">View Stats</button>
	</div>
</div>